.home-header{
    position:relative;
    display:table-cell;
    width:1%;

    vertical-align:middle;
    text-align:center;

    background-image:url('../imgs/bg-pattern/bg.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.home-header .mask{
    background-color:rgba(70,70,70,0.5);

    position:absolute;
    top:0;left:0;right:0;bottom:0;
    z-index:1;
}
.home-header .home-header-main{
    position:relative;
    z-index:10;
}
.home-header-main h1{
    font-size:50px;
    font-weight:bold;
    color:#f90;
}
.home-header-main h1 span{
    color:#fff;
}
.home-header-main p{
    margin:40px;

    color:#eee;
    font-size:20px;
}
.home-header-main .btn{
    border-radius:6px;
    margin:0 20px;

    font-size:25px;
}
@font-face{
    font-family:'dollar';
    src:url('../../icon-font/dollar/fontello.eot');    /*ºÊ»›IE8*/
    src:local('dollar'),
    url('../../icon-font/dollar/fontello.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../icon-font/dollar/fontello.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../icon-font/dollar/fontello.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../../icon-font/dollar/fontello.svg') format('svg'); /* Legacy iOS */
}
.home-main{
    padding:100px 0;
}
.home-main .list-inline li{
    padding:0 50px;
}
.home-main .logo{
    display:inline-block;
    margin-top:40px;

    width:50px;height:50px;
    line-height:46px;
    border:3px solid #0000cc;
    border-radius:50%;
}
.font-dollar{
    font-family:'dollar';
    font-size:30px;
    color:#00c;
}

